# Created by .ignore support plugin (hsz.mobi)
.gitignore

target/
/mybatis-demo/.settings/
/mybatis-demo/.classpath
/mybatis-demo/.factorypath
/mybatis-demo/.project
/.idea/**
.idea/**
.settings/**
.vscode/**

**/*.iml