<?xml version="1.0" encoding="UTF-8"?>
<datasource>
    <property name="driverClassName">com.mysql.jdbc.Driver</property>
    <property name="url">jdbc:mysql://localhost:3306/mybatis</property>
    <property name="username">root</property>
    <property name="password">%5QWERzxc</property>
</datasource>